.HeaderContainer{
  /* border: 3px solid; */
  /* padding-left: 10% ; */
}
.Header{
  width: 100%;
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(50px);
} 
.HeaderImageContainer{
  /* border: 3px solid; */
  width: 15%;
}
.HeaderImage{
  width: 100%;
}
.HeaderLinksContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 3px solid; */
}
.HeaderLinksContainer p{
  color: grey;
  cursor: pointer;
  padding: 2rem;
}
.HeaderLinksContainer p:hover{
  border-bottom: 3px solid green;
}
.HeaderButton{
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, rgb(49, 207, 112), rgb(43, 184, 216) ) ; 
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.HeaderButton:hover{
  background: linear-gradient(to right, rgb(43, 184, 216), rgb(49, 207, 112) ) ; 
  color: black;
}
.HeaderMenuImage{
  display: none;
}

@media screen and (max-width: 1100px) {
  .Header{
    width: 100%;
    padding: 2rem 1rem ;
  }
  .HeaderImageContainer{
    width: 80%;
  }
  .HeaderImage{
    width: 90%;
    margin-left: 5%;
    position: relative;
    top: 5px;
  }
  .HeaderLinksContainer{
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 7rem;
    right: 5%;
    padding: 0.5rem 0;
    display: none;
    width: 90%;
    z-index: 1;
    border: 2px solid rgb(21, 21, 35);
    border-radius: 20px;
  }
  .MenuOpen{
    display: flex;
  }
  .HeaderLinksContainer p{
    padding: 1rem 0;
    color: rgb(21, 21, 35);
    width: 90%;
    text-align: center;
  }
  .HeaderButton{
    display: none;
  }
  .HeaderMenuImage{
    display: block;
    width: 10%;
    cursor: pointer;
  } 
}

/* @media screen and (max-width: 1500px) {
  .HeaderImageContainer{
    width: 50%;
    border: 3px solid;
  }
  .HeaderMenuImage{
    width: 8%;
  }
  .HeaderLinksContainer{
    top: 9rem;
    width: 95%;
    right: 2.5%;
  }
} */